<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699284309533-6reejre1c10qh10ke1kqqvm4iq44inp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699284309533-6reejre1c10qh10ke1kqqvm4iq44inp6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>699284309533-fefqvf08d0l3vcbquvef4k4lkqosgmgc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAlUtzobqnyVgcNabeulQyJ8YepjgOkI6o</string>
	<key>GCM_SENDER_ID</key>
	<string>699284309533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.Dietness</string>
	<key>PROJECT_ID</key>
	<string>diteness</string>
	<key>STORAGE_BUCKET</key>
	<string>diteness.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699284309533:ios:5f9c9030f3600445ce28f4</string>
</dict>
</plist>